.background_light{
    background-image: url(./components/pictures/mainbackground_light.jpg);
    background-size: cover;
}

.background_dark{
    background-image: url(./components/pictures/mainbackground_black.jpg);
    background-size: cover;
}